html {
  height: 100%;
}
body {
  background-color: black;
  background: linear-gradient(
    180deg,
    rgb(102, 128, 123) 0%,
    rgba(78, 92, 90, 1) 30%,
    rgba(14, 14, 14, 1) 100%
  );
  background-size: 100%;
  text-align: center;
  font-family: 'Press Start 2P', cursive, Arial, sans-serif;
}

h1,
h3,
h5 {
  color: white;
}
h1 {
  font-size: 2em;
  color: rgb(247 112 0);
  margin: 0.5em;
}

h3 {
  font-size: 1em;
}

.grey {
  color: #555;
  font-family: monospace;
  font-size: 1.2em;
}

.yellow {
  color: yellow;
}

.start,
.sound {
  box-sizing: border-box;
  color: rgb(255, 208, 0);
  background-color: rgb(91, 158, 29);
  border: 2px solid darkgreen;
  padding: calc(0.5em - 1px) 1.375em;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  font-family: 'Press Start 2P', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: auto;
  line-height: 21px;
  text-size-adjust: 100%;
  width: auto;
  margin-bottom: 1em;
}

.sound {
  background-color: rgba(177, 177, 177, 1);
  border: 2px solid white;
  color: rgb(33, 33, 33);
  position: absolute;
  left: calc(50% - 270px);
  width: 170px;
}

.abs-right {
  position: absolute;
  left: calc(50% + 100px);
  top: 3em;
}

.grid {
  width: 400px;
  height: 800px;
  border: 2px solid rgb(212, 212, 212);
  display: flex;
  flex-wrap: wrap;
  margin: -2px auto;
}

.grid.next-piece {
  width: 160px;
  height: 160px;
}

.grid div,
.grid.next-piece div {
  background-color: #111111;
  border: 1px solid #103623;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  color: green;
}

.grid .filled.green {
  background: rgb(167, 213, 41);
  background: linear-gradient(
    135deg,
    rgb(77, 133, 25) 0%,
    rgb(91, 158, 29) 50%,
    rgb(95, 168, 27) 51%,
    rgb(167, 213, 41) 100%
  );
}

.grid .filled.red {
  background: rgb(247, 112, 0);
  background: linear-gradient(
    135deg,
    rgb(163, 27, 27) 0%,
    rgba(176, 22, 22, 1) 50%,
    rgb(167, 17, 17) 51%,
    rgba(247, 112, 0, 1) 100%
  );
}

.grid .filled.yellow {
  background: rgb(235, 222, 168);
  background: linear-gradient(
    135deg,
    rgb(185, 145, 12) 0%,
    rgb(219, 169, 5) 50%,
    rgb(187, 145, 5) 51%,
    rgb(253, 253, 0) 100%
  );
}

.grid .filled.blue {
  background: rgb(87, 141, 250);
  background: linear-gradient(
    135deg,
    rgba(30, 87, 153, 1) 0%,
    rgba(41, 137, 216, 1) 50%,
    rgba(32, 124, 202, 1) 51%,
    rgba(125, 185, 232, 1) 100%
  );
}

.grid .filled.white {
  background: rgb(227, 227, 227);
  background: linear-gradient(
    135deg,
    rgb(167, 165, 165) 0%,
    rgba(177, 177, 177, 1) 50%,
    rgb(168, 165, 165) 51%,
    rgba(227, 227, 227, 1) 100%
  );
}

.grid .filled.purple {
  background: rgb(225, 155, 251);
  background: linear-gradient(
    135deg,
    rgb(146, 84, 194) 0%,
    rgba(164, 93, 219, 1) 50%,
    rgb(146, 74, 201) 51%,
    rgba(225, 155, 251, 1) 100%
  );
}

.grid .filled.cyan {
  background: rgb(159, 232, 240);
  background: linear-gradient(
    135deg,
    rgb(23, 159, 167) 0%,
    rgba(7, 141, 148, 1) 50%,
    rgb(3, 157, 165) 51%,
    rgba(159, 232, 240, 1) 100%
  );
}

.centerLabel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.9);
  flex-direction: column;
}

.centerLabel div {
  margin: auto;
}

.centerLabel h1 {
  color: white;
  font-size: 2.5em;
}

.high-score {
  border: 1px solid red;
  color: white;
}

.high-score .title {
  padding: 10px;
  display: flex;
  background-color: darkred;
}

.high-score ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.high-score ul li {
  padding: 10px 0;
  display: flex;
}

.high-score ul li .desc {
  color: red;
  padding: 0 10px;
}

.high-score ul li .record {
  flex: 1;
  padding: 0 10px;
  text-align: right;
}

.high-score h3 {
  margin: auto;
  font-size: 1em;
}

.hidden {
  display: none;
}
